@import "tailwindcss";

::-webkit-scrollbar{
    display: none;
}
.join-as {
    animation: joinGlow 2s ease-in-out infinite;
}

@keyframes joinGlow {
    0% {
        box-shadow: 0 0 px 2px #22c55e;
    }
    50% {
        box-shadow: 0 0 25px 10px #ffffff;
    }
    100% {
        box-shadow: 0 0 0px 2px #22c55e;
    }
}

*{
    
    box-sizing: border-box;
    scroll-behavior: smooth;
}
